.header-container {
    height: 60px;
    background-color: #1f2937;
    color: white;
}

.hero-container {
    height: 200px;
    background-color: #1f2937;
    color: white;
}

.information-container {
    height: 200px;
    background-color: aquamarine;
}

.quote-container {
    height: 200px;
    background-color: #e5e7eb;
}

.banner-container {
    height: 150px;
    background-color: lightpink;
}

.footer-container {
    height: 60px;
    background-color: #1f2937;
    color: white;
}